name: Matrix with Include
on:
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node: [16, 18]
        include:
          - os: ubuntu-latest
            node: 18
            message: optimized-build
    runs-on: ${{ matrix.os }}
    steps:
      - run: |
          echo "OS ${{ matrix.os }}"
          echo "Node ${{ matrix.node }}"
          echo "Message ${{ matrix.message }}"
