name: Python Versions
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: self-hosted
    strategy:
      matrix:
        python: [3.8, 3.9, 3.10]
    steps:
      - run: |
           echo "Testing on Python ${{ matrix.python }}"
           python3 --version
